body {
  min-width: 900px;
  margin: 0px;
}

#dashboard-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* For our React components, we relied primarily on inline styling.
In a few situations, using an external stylesheet made more sense.
We've included this styling below. */
code {
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  color: white;
  background-color: black;
}

/* We adapted our button styling adapted from Skeleton:
https://github.com/dhg/Skeleton/blob/master/css/skeleton.css.
Using inline styling for hover/focus would have been verbose:
http://stackoverflow.com/questions/28365233 */
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #6BCBF8;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover,
button:focus {
  background-color: #65C0EB;
}

/* Styling for the terminal emulator appended to the Terminal component by renderTerm */
.terminal {
  color: #d2d2d2!important;
  border: 0!important;
  background-color: #151414!important;
  margin-top: 7px!important;
  bottom: 0px!important;
  font-size: 13px;
  margin-left: 5px
}

#Dropdown > span:hover {
  cursor: pointer!important;
}

#Dropdown > ul > li:hover {
  background-color: #F9F9F9!important;
  color: black!important;
  cursor: pointer;
  max-height:150px!important;
}
