/*Beginning of code added by Isaac*/

body {
  min-width: 900px;
  margin: 0px;
}

/* Add media query to ensure that #sidebar-container is always at least 64px wide */

.add-padding {
  padding: 1rem;
}

#dashboard-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*End of code added by Isaac*/

/*Beginning of code added by Hamza*/

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*End of code added by Hamza*/
